<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="{{ "YCRMindLogo.svg" | relURL }}" type="image/svg+xml">
    <title>
      {{ if .IsHome }}
        {{ .Site.Title }}
      {{ else }}
        {{ .Title }} · {{ .Site.Title }}
      {{ end }}
    </title>
    <meta name="description" content="{{ .Params.description | default .Site.Params.description }}" />
    <link rel="stylesheet" href="{{ "assets/app.css" | relURL }}" />
  </head>
  <body class="page">
    <a href="#content" class="sr-only">Skip to content</a>
    {{ partial "header.html" . }}
    <main id="content" class="page-main">
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
    {{ partial "lang_global.html" . }}
  </body>
</html>
